version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    env_file:
      - ./.env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend_api
    env_file:
      - ./.env
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - db
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
