services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: midb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend_api
    ports:
      - "3000:3000"
    depends_on:
      - postgres_db
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
